<section class="page-section color">
  <div class="container">
    <!-- Contact form -->
    <div class="col-sm-12 af-outer af-required text-center">
      <div class="form-group af-inner">
        <label class="col-lg-12 col-sm-12 control-label" style="font-size:24px">總金額: ＄
          <%=@order.price%>
        </label>
      </div>
    </div>
    <div class="col-sm-12 af-outer af-required text-center">
      <div class="form-group af-inner">
        <label class="col-lg-12 col-sm-12 control-label" style="font-size:24px">感謝您的支持，訂單已成立！
        </label>
      </div>
    </div>
    <div class="col-sm-12 af-outer af-required text-center" style="margin-top:15px">
      <div class="form-group af-inner">
        <p style="font-size:24px">預購者請於3/14～3/18至郵局前竹塹週攤位繳費</p>
        <p style="font-size:24px">3/25 （五）9:00～18:00 至二宿交誼廳取貨</p>
        <p style="font-size:24px">台科竹友會感謝您</p>
      </div>
    </div>
    <!-- /Contact form -->
  </div>
</section>