<!-- FOOTER -->
<footer class="footer">
    <div class="footer-meta">
        <div class="container text-center">
            <div class="clearfix">
                <ul class="social-line list-inline">
                    <li data-animation="flipInY" data-animation-delay="300"><a href="https://www.facebook.com/NTUST.Hsinchu/" class="facebook"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
            <span class="copyright" data-animation="fadeInUp" data-animation-delay="100">&copy; 2016 NTUST_BAMBOO &#8212; Villager</span>
        </div>
    </div>
</footer>
 <!-- /FOOTER -->