<!-- HEADER -->
<header class="header fixed" style="height:100px">
  <div class="container">
      <div class="header-wrapper clearfix">
          <!-- Logo -->
          <div class="logo">
              <a href="<%=root_path%>" class="scroll-to">
                  <span class="fa-stack" style="margin-right:30px;margin-bottom:15px">
                      <img src="https://yt3.ggpht.com/-lLJgAA673JM/AAAAAAAAAAI/AAAAAAAAAAA/_09Psqw51ao/s88-c-k-no/photo.jpg" style="width:70px">
                  </span>
                  <span style="font-size:30px">台 科 竹 友 會</span>
              </a>
          </div>
    <!-- /Logo -->
    <!-- Navigation -->
          <div id="mobile-menu"></div>
          <nav class="navigation closed clearfix">
              <a href="#" class="menu-toggle btn" style="right:0;top:0"><i class="fa fa-bars"></i></a>
              <ul class="sf-menu nav">
                  <li>
                      <a href="<%=homes_products_path%>">商品列表</a>
                  </li>
                  <li>
                      <a href="<%=homes_products_cart_path%>">購物車</a>
                  </li>
                  <li><a href="https://www.facebook.com/NTUST.Hsinchu/">聯絡我們</a></li>
                  <li class="header-search-wrapper">
                      <form action="#" class="header-search-form">
                          <input type="text" class="form-control header-search" placeholder="Search" />
                          <input type="submit" hidden="hidden" />
                      </form>
                  </li>
              </ul>
          </nav>
    <!-- /Navigation -->
      </div>
  </div>
</header>
<!-- /HEADER -->