<div id="main">
    <!-- SLIDER -->
    <section class="page-section no-padding background-img-slider">
        <div class="container">
            <div id="main-slider">
                <!-- Slide -->
                <div class="item page text-center" style="background-color:#25A55F;">
                    <div class="caption">
                        <div class="container">
                            <h3 class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300">竹塹週預購</h3>
                            <p class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300" class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300" style="font-size:24px;color:white;margin-top:15px">預購者請於3/14～3/18至郵局前竹塹週攤位繳費</p>
                            <p class="caption-subtitle" data-animation="fadeInUp" data-animation-delay="300" style="font-size:24px;color:white">3/25 （五）9:00～18:00 至二宿交誼廳取貨</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide -->
        </div>
    </section>
    <!-- /SLIDER -->
</div>